.inicio__perfil{
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 100%;
    background: url(./assest/img/profile.png), lightgray 50% / cover no-repeat;
}

@media  screen and (min-width:0) and (max-width:500px){
    .inicio__perfil{
        order: -1;
        width:98px;
        height:98px;
        border-radius: 100%;
    }
}