.inicio__contenido {
    display: flex;
    width: 751px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    order: -1;
    /* width: min-content; */
    flex-wrap: wrap;
    justify-content: center;
    align-self: stretch;
}

.inicio__bio {
    align-self: stretch;
    font-size: 52px;
    font-weight: 700;
}

.inicio__subsection {
    align-self: stretch;
    font-size: 22px;
    font-weight: normal;
}

@media screen and (min-width: 0) and (max-width: 500px) {
    .inicio__contenido {
        width: fit-content;
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        gap:16px;
        justify-content: stretch;
    }

    .inicio__bio {
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 22px;
        font-weight: 700;
        justify-content: stretch;
    }

    .inicio__subsection {
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 14px;
        font-weight: 400;
        justify-content: stretch;
    }
}
