.inicio__redes{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    padding-inline-start: 0px;
    list-style: none;
    margin-inline-end: 20%;
}

.inicio__redes__item a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

@media  screen and (min-width:0) and (max-width:500px){
    .inicio__redes{
        /* width: fit-content; */
        align-self: stretch;
        margin-inline-end: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap:10px;
        margin-block-start: 0em;
        /* margin-block-end: 0em; */
    }
    .inicio__redes__item{
        display: flex;
        /* width: fit-content; */
        align-self: stretch;
        align-items: center;
    }
    .inicio__redes__item a{
        font-size: 14px;
        font-weight: 600;
    }
}